spring:
  datasource:
    url: jdbc:mysql://localhost:3306/shiro-web
    username: root
    password: Ruochu123
    driver-class-name: com.mysql.jdbc.Driver
  jpa:
    database: mysql
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
             hibernate:
                dialect: org.hibernate.dialect.MySQL5Dialect
  thymeleaf:
    cache: false
    mode: LEGACYHTML5

redis:
  host: 127.0.0.1
  port: 6379
  password:
